.maps {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9ea;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 20px;
  &-menu {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border-bottom: 1px solid #000;
    padding: 30px 5px 0;
    .maps-title {
      font-size: 24px;
    }
    .new-map-btn {
      padding: 3px;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
  .map-name {
    margin-top: 12px;
    display: flex;
    justify-content: start;
    width: 95%;
    p {
      font-size: 18px;
    }
  }
  .map-link {
    width: 95%;
    height: 300px;
    background-color: #fff;
    // margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .map {
      width: 70%;
      height: 90%;
      background-color: #fff9d4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .map-line {
        height: 33%;
        display: flex;
        justify-content: space-around;
        .map-piece {
          border:  1px solid #000;
          width: 33%;
          height: 100%;
        }
      }
    }
  }
}